<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   

    <title>Expense Tracker</title>

    <script>
    // Limits price input to two decimal points
    function formatPrice(input) {
        const value = input.value;
        const decimalIndex = value.indexOf('.');
        if (decimalIndex !== -1) {
          const decimalPart = value.substring(decimalIndex + 1);
          if (decimalPart.length > 2) {
            input.value = value.substring(0, decimalIndex + 3);
          }
        }
      }
    </script>
</head>
<body>
    <h1>Expense Tracker</h1>   

    <form method="POST" action="/add">
        <input type="text" name="name" placeholder="Expense Name" required>
        <input list="categories" name="category" placeholder="Select or Enter Category">
        <datalist id="categories">
            <option value="Food">
            <option value="Bills">
            <option value="Entertainment">
            <option value="Clothing">
        </datalist>
        <input type="number" step="0.01" name="price" id="price" placeholder="Price" required oninput="formatPrice(this)">
        <button type="submit">Add Expense</button>
    </form>
    <h2>Total: £{{ total }}</h2>
    <table>
        <thead>
            <tr>
                <th>Expense Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.category }}</td>
                <td>£{{ expense.price }}</td>
                <td>
                    <form method="POST" action="/delete/{{ expense.id }}">
                        <button type="submit" class="delete-icon">X</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>